.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Charlotte";
  color: #b2b2b2;
  width: 100vw;
  animation: fadein 1s 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero h1 {
  font-family: "Albertus Nova";
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  margin: 0;
}

.hero li {
  text-transform: uppercase;
  list-style-type: none;
}

.container {
  display: flex;
  max-width: 1350px;
  flex-direction: column;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headerContainer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header img {
  box-shadow: 5px 5px 10px black;
}

.attribute {
  display: flex;
  align-items: center;
}

.attribute p {
  font-size: 25px;
  margin: 0;
  margin-left: 5px;
}

#avatar {
  display: flex;
  width: 500px;
  height: 100%;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(20, 20, 20, 0.6);
  padding: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 2px 2px 5px black;
}

.stats ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 25px;
  align-items: flex-start;
}

.stats li {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.stats span {
  margin-left: 10px;
  color: white;
  font-size: 18px;
}

.stats h4 {
  display: flex;
  align-self: center;
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 10px;
  font-size: 20px;
  font-weight: lighter;
  color: grey;
  text-shadow: black;
}

#attr li {
  line-height: 40px;
}

#attr span {
  font-size: 25px;
  font-family: "Albertus Nova";
}

.hero p {
  text-transform: uppercase;
  color: white;
}

.attackType {
  line-height: 1px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.skills ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.skills li {
  display: flex;
  flex-direction: column;
  margin: 5px;
  transition: transform 0.3s;
}

.skills img {
  width: 80px;
  height: 80px;
  box-shadow: 2px 2px 5px black;
}

.skills li:hover {
  transform: scale(1.1);
}

.skills div {
  width: 60%;
  min-height: 30vh;
  text-align: center;
  background-color: rgba(20, 20, 20, 0.6);
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px black;
}

.skills h1 {
  font-size: 35px;
}

.skills p {
  text-transform: none;
  padding: 10px;
}
