.background {
  margin-top: 20px;
  display: flex;
  height: 50vh;
  width: 100vw;
  background-image: url("https://external-preview.redd.it/S1OuTyII4VSj_yLimYYWHqU_hsaMoNT9OUgef3c-0vU.png?width=960&crop=smart&auto=webp&s=a4b67d6742f6cdf1580a1aacf8f513d1c25c95b6");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  box-shadow: 10px 10px 30px black;
  animation: fadein 1s 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intermediate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.player {
  display: flex;
  border: #b1a9a6 1px solid;
  padding: 20px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  position: relative;
  width: 22%;
}

.player div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  line-height: 40px;
  justify-content: center;
}

.player img {
  width: 150px;
}

.player a {
  color: white;
  text-decoration: none;
}

.player h4 {
  font-size: 18px;
  font-family: "Charlotte";
  font-weight: lighter;
  margin: 0;
  line-height: 20px;
}

.player button {
  display: flex;
  padding: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: coral;
  position: absolute;
  right: 10px;
  top: 10px;
}
