.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  animation: fadein 1s 1;
}

.head div {
  display: flex;
  flex-direction: column;
}

.head img {
  height: 100px;
}

.head h1,
h3 {
  margin: 0;
  margin-left: 10px;
}

.head h3 {
  font-family: "Charlotte";
  color: #b1a9a6;
}

.current,
.former {
  display: flex;
  flex-direction: row;
  max-width: 1350px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 5px -5px 8px darkgray;
  border-radius: 50px 50px 0 50px;
  animation: fadein 1s 1;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 380px;
  margin: 10px;
  justify-content: center;
  column-gap: 20px;
  line-height: 30px;
}

.memberContainer {
  display: flex;
  align-items: center;
  min-width: 500px;
  background: rgb(17, 17, 17);
  border-radius: 0 50px 0 0;
}

.former .memberContainer {
  overflow: scroll;
}

.former .memberContainer::-webkit-scrollbar {
  width: 0;
  height: 10px;
}
.former .memberContainer::-webkit-scrollbar-thumb {
  background-color: #8f756b;
}

.former .memberContainer::-webkit-scrollbar-track {
  background-color: rgb(66, 61, 60);
}

.container li {
  margin: 0 10px 0 10px;
  font-family: "Charlotte";
  padding-right: 40px;
}

.container a {
  text-decoration: none;
  color: white;
}
.container a:hover {
  text-decoration: underline #ff6046;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-transform: uppercase;
  width: 500px;
  height: 400px;
  background-size: cover;
  text-align: center;
}

.header span {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.currentHeader {
  background-image: url("https://wallpapersbq.com/images/dota-2/dota-2-wallpaper-22.jpg");
  border-radius: 50px 0 0 50px;
}

.formerHeader {
  background-image: url("http://wallpaperstock.net/dota-2-coco_wallpapers_32265_1600x1200.jpg");
  border-radius: 50px 0 0 50px;
}
