.container img {
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container h1 {
  font-size: 25px;
  font-family: "Trajan Bold";
  color: white;
  text-align: center;
}
