@font-face {
  font-family: "Trajan Bold";
  src: url("./fonts/TrajanBold/TrajanBold.ttf");
}

@font-face {
  font-family: "Albertus Nova";
  src: url("./fonts/AlbertusNova.otf");
}

@font-face {
  font-family: "Charlotte";
  src: url("./fonts/Charlotte/Charlotte.otf");
}

body {
  background-image: linear-gradient(150deg, rgb(22, 22, 22), rgb(80, 80, 80));
  background-attachment: fixed;
  color: #d2dbe9;
  font-family: "Albertus Nova";
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
}

html,
a,
input,
button {
  cursor: url("./images/cursor.png"), auto;
}

body::-webkit-scrollbar {
  display: none;
}
